.advantages {
  margin-bottom: 30px;
}

.advantages__wrapper {
  width: 265px;
  margin: 0 auto;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__list {
  @include list-reset();
}

.advantages__list-item {
  padding-bottom: 30px;

  @include font(17px, 20px);
  font-family:  $font-title;
}

.advantages__icon {
  display: block;
  margin-bottom: 20px;

  path {
    fill: $color-lightblue;
  }
}
