.advantages {
  margin-bottom: 51px;
}

.advantages__wrapper {
  width: 265px;
  margin: 0 auto;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 345px;
  margin-bottom: 27px;
}

.advantages__list-item {
  @include font(17px, 20px);
  font-family: $font-title;
}

.advantages__icon {
  display: block;
  margin-bottom: 20px;

  path {
    fill: $color-lightblue;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 70px;
  }

  .advantages__wrapper {
    width: auto;
    padding: 0 50px;
  }

  .advantages__title {
    margin-bottom: 53px;

    @include font(42px, 44px);
  }

  .advantages__list-wrapper {
    display: flex;
    justify-content: space-between;
    width: 631px;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 417px;
    padding-bottom: 8px;
    margin: 0;
  }

  .advantages__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 98px;
    width: 295px;

    @include font(20px, 22px);
  }

  .advantages__icon {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 151px;
  }

  .advantages__wrapper {
    width: 1150px;
    margin: 0 auto;
    padding: 0 220px;
  }

  .advantages__title {
    @include font(53px, 57px);
    margin-bottom: 48px;
  }

  .advantages__list-wrapper {
    width: 650px;
  }
}
