.advantages__list-item {
  position: relative;

  @include list-reset();
  padding-top: 50px;

  @include font(17px, 20px);
  font-family:  $font-title;
}

.advantages__icon {
  display: block;

  path {
    fill: $color-lightblue;
  }
}
