.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  width: 265px;
  margin: 0 auto;
}

.contacts__icon-zig-zag {
  height: 8px;
  margin-bottom: 39px;
}

.contacts__title {
  @include font(18px, 30px);
  margin-bottom: 23px;
}

.contacts__icon-flag {
  display: none;
}

.contacts__container-address {
  margin-bottom: 37px;
}

.contacts__address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 181px;
}

.contacts__addr {
  @include list-reset();

  display: flex;
  justify-content: flex-start;

  @include font(15px, 30px);
}

.contacts__addr-item {
  &:first-of-type {
    margin-right: 33px;
  }

  &--address {
    width: 145px;
  }
}

.contacts__map {
  display: block;
  min-height: 457px;
  margin-bottom: 41px;

  @include background("../../img/map-mobile@1x.jpg");
  background-size: 100%;
  background-position: 50%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/map-mobile@2x.jpg");
  }

  iframe {
    width: 100%;
    min-height: 457px;
  }
}


@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 54px;
  }

  .contacts__wrapper {
    width: auto;
    padding: 0 50px;
  }

  .contacts__icon-zig-zag {
    height: auto;
    margin-bottom: 52px;
  }

  .contacts__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__title {
    @include font(43px, 50px);
    margin-bottom: 48px;
    padding-top: 14px;
  }

  .contacts__icon-flag {
    display: block;
  }

  .contacts__container-address {
    margin-bottom: 57px;
  }

  .contacts__address-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    min-height: auto;
  }

  .contacts__addr {
    @include font(17px, 30px);

    &--email {
      margin-right: 52px;
    }
  }

  .contacts__addr-item {
    &:first-of-type {
      margin-right: 24px;
    }

    &--address {
      width: 225px;
    }
  }

  .contacts__map {
    margin-bottom: 52px;

    @include background("../../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/map-tablet@2x.jpg");
    }
  }

  .contacts__feedback {
    width: 230px;
    border: 2px solid #444444;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    padding-top: 62px;
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    display: block;
    padding: 0;
    padding-top: 70px;
    margin-right: 49px;
  }

  .contacts__icon-zig-zag {
    margin-bottom: 70px;
  }

  .contacts__title-wrapper {
    flex-direction: row-reverse;
    width: 414px;
  }

  .contacts__title {
    @include font(53px, 57px);
    padding-top: 0;
    padding-right: 33px;
    margin-bottom: 47px;
  }

  .contacts__container-address {
    display: flex;
    flex-direction: column;
    min-height: 272px;
    margin: 0;
  }

  .contacts__address-wrapper {
    flex-direction: column;
    padding-left: 113px;
  }

  .contacts__addr {
    margin: 0;

    &--email {
      margin-bottom: 31px;
    }
  }

  .contacts__link-addr {
    color: #444444;
    border-bottom: 1px solid #46c1ae;
    &:hover,
    &:focus {
      color: #46c1ae;
    }
    &:active {
      color: #46c1ae;
      opacity: 0.3;
    }
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    margin-bottom: 0;
    margin-right: 52px;

    @include background("../../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/map-desktop@2x.jpg");
    }
  }

  .contacts__feedback {
    margin: 0;
    margin-left: 224px;
    margin-top: -50px;
  }
}
