.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  width: 265px;
  margin: 0 auto;
}

.contacts__title {
  @include font(18px, 30px);

  margin-bottom: 40px;
}

.contacts__adds {
  @include font(15px, 30px);
}

.contacts__map {
  display: block;
  margin-bottom: 40px;
}


@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: auto;
    padding: 0 50px;
  }

  .contacts__title {
    @include font(43px, 50px);
  }
}
