.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  width: 265px;
  margin: 0 auto;
}

.contacts__title {
  @include font(18px, 30px);
  margin-bottom: 23px;
}

.contacts__container-address {
  margin-bottom: 37px;
}

.contacts__address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 181px;
}

.contacts__addr {
  @include list-reset();

  @include font(15px, 30px);

  display: flex;
  justify-content: flex-start;
}

.contacts__addr-item {
  &:first-of-type {
    margin-right: 33px;
  }

  &--address {
    width: 145px;
  }
}

.contacts__map {
  display: block;
  margin-bottom: 35px;

  img {
    width: 100%;
  }
}


@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: auto;
    padding: 0 50px;
  }

  .contacts__title {
    @include font(43px, 50px);
    margin-bottom: 48px;
  }

  .contacts__container-address {
    margin-bottom: 57px;
  }

  .contacts__address-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    min-height: auto;
  }

  .contacts__addr {
    @include font(17px, 30px);

    &--email {
      margin-right: 52px;
    }
  }

  .contacts__addr-item {
    &:first-of-type {
      margin-right: 26px;
    }

    &--address {
      width: 225px;
    }
  }

  .contacts__map {
    margin-bottom: 52px;
  }

  .contacts__feedback {
    width: 230px;
    border: 2px solid #444444;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1250px;
    padding: 0 100px;
    padding-top: 64px;
    padding-left: 270px;
    justify-content: flex-start;
  }

  .contacts__title {
    @include font(53px, 57px);
    margin-bottom: 51px;
  }

  .contacts__container-address {
    display: flex;
    flex-direction: column;
    min-height: 272px;
    margin: 0;
  }

  .contacts__address-wrapper {
    flex-direction: column;
    padding-left: 5px;
  }

  .contacts__addr {
    margin: 0;

    &--email {
      margin-bottom: 31px;
    }
  }

  .contacts__map {
    width: 525px;
    height: 353px;
    margin-left: 45px;
  }

  .contacts__feedback {
    margin: 0;
    margin-left: 5px;
  }
}
