.developed {
  display: flex;
  justify-content: space-around;
  width: 215px;
  margin: 0 auto;
}

.developed__text {
  @include list-reset();
  @include font(19px, 18px);
  font-family: $font-title;
  color: $color-title;
}
