.developed {
  display: flex;
  justify-content: space-around;
  width: 215px;
  margin: 0 auto;
}

.developed__text {
  @include list-reset();
  @include font(19px, 18px);
  font-family: $font-title;
  color: $color-title;
}

.developed__link {
  color: rgba(99, 209, 187, 1);

  &:hover svg,
  &:focus svg {
    color: rgba(70, 193, 174, 1);
  }

  &:active svg {
    color: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .developed {
    justify-content: space-between;
    width: 185px;
    margin: 0;
  }
}
