.logo {
  display: inline-block;
  margin: 0 auto;
  padding-top: 18px;
  text-align: center;
}

.logo__link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    margin: 0;
    padding-top: 22px;
    padding-left: 48px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    padding: 9px 51px 0 0;
  }
}
