.modal {
  display: none;


  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 336px;
  width: 100%;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 5px 10px 0 rgba(0, 1, 1, 0.25);
  background-color: #ffffff;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
}

.modal__title {
  width: 150px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.modal__text {
  margin-bottom: 25px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__size {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-bottom: 30px;
}

.modal__size-item {
  width: 82px;
  height: 52px;
  padding-top: 15px;
  position: relative;
  text-align: center;
}

.modal__label {
  @include font(17px, 18px);
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.modal__radio ~ label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 50px;
  border: 2px solid rgba(68, 68, 68, 0.1);

  &:hover {
    border: 1px solid red;
  }
}

.modal__radio:checked ~ label::after {
  border-color: #62d1ba;
}

.modal__button {
  width: 260px;
  min-height: 52px;
  padding-top: 0;
  border: none;
  color: #ffffff;
  background-color: rgba(99, 209, 187, 1);

  &:hover,
  &:focus {
    color: rgba(99, 209, 187, 1);
    background-color: #ffffff;
    border: 1px solid rgba(99, 209, 187, 1);
  }

  &:active {
    color: rgba(99, 209, 187, 1);
    background-color: rgba(99, 209, 187, 0.3);
  }
}

.modal-show {
  display: block;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 562px;
    height: 100px;
  }

  .modal__title {
    width: auto;
    font-size: 30px;
  }

  .modal__size {
    width: 350px;
  }

  .modal__size-item {
    width: 112px;
    height: 52px;
  }

  .modal__radio ~ label::after {
    width: 110px;
    height: 50px;
    border: 2px solid rgba(68, 68, 68, 0.1);

    &:hover {
      border: 1px solid red;
    }
  }
}
