.option {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.option__container-image {
  min-height: 283px;

  background-color: hsl(0, 0, 98);

  @include background("../../img/hero-mobile@1x.jpg");
  background-position: 50% 50%;
}

.option__title {
  margin: 0;
  padding-top: 75px;

  @include font(27px, 30px);
  font-family: $font-title;
  text-align: center;
}

.option-list {
  @include list-reset();
}

.option-list__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 103px;
  min-width: 320px;

  position: relative;

  @include font(19px, 24px);
  font-family: $font-title;
  color: $color-white;

  background-color: $color-lightblue;
}

@media (min-width: $desktop-width) {
  .option__title {
    @include font(53px, 57px);
    width: 615px;
    margin: auto;
  }

  .option__container-image {
    min-height: 450px;
  }

  .option-list {
    display: flex;
  }

  .option-list__item {
    width: 100%;
  }
}
