.option {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  background-color: #fafafa;
}

.option__container-image {
  min-height: 282px;

  background-color: hsl(0, 0, 98);

  @include background("../../img/hero-mobile@1x.jpg");
  background-position: 50% 20%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @include background("../../img/hero-mobile@2x.jpg");
  }
}

.option__title {
  width: 245px;
  margin: 0 auto;
  padding-top: 71px;

  @include font(27px, 30px);
  font-family: $font-title;
  text-align: center;
}

.option__list {
  @include list-reset();

  width: 320px;
  margin: 0 auto;
}

.option__list-link {
  display: flex;
  min-height: 103px;
  min-width: 320px;
  padding-top: 23px;
  padding-left: 28px;

  @include font(19px, 24px);
  font-family: $font-title;
  color: $color-white;

  background-color: $color-lightblue;

  &--toys {
    background-color: #56c3b2;
  }

  p {
    margin: 0;
    margin-right: 113px;
  }

  svg {
    color: rgba(20, 144, 128, 0.5);
  }
}

.option__icon-zig-zag {
  display: none;
  width: 100%;
  margin-top: -15px;
}

@media (min-width: $tablet-width) {
  .option {
    margin-bottom: 39px;
  }

  .option__title {
    width: 500px;
    padding-top: 155px;

    @include font(43px, 50px);
  }

  .option__container-image {
    min-height: 628px;
    margin-top: -113px;

    @include background("../../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
    background-position: 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/hero-tablet@2x.jpg");
    }
  }

  .option__list {
    display: flex;
    width: 768px;
    padding: 0 50px;
  }

  .option__list-link {
    width: 335px;
    min-height: 120px;
    padding-top: 27px;
    padding-left: 34px;

    @include font(20px, 30px);

    &:hover,
    &:focus {
      min-height: 125px;
      margin-top: -5px;
    }

    &:hover svg,
    &:focus svg {
      color: rgba(20, 144, 128, 0.7);
    }

    &:active p {
      opacity: 0.3;
    }

    &:active svg {
      color: rgba(20, 144, 128, 0.3);
    }
  }

  .option__icon-zig-zag {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .option {
    margin-bottom: 112px;
  }

  .option__wrapper {
    margin: 0 auto;
    padding: 0 50px;
  }

  .option__title {
    @include font(53px, 57px);
    width: 615px;
    margin: auto;
  }

  .option__container-image {
    min-height: 627px;

    @include background("../../img/hero-desktop@1x.jpg");
    background-position: 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/hero-desktop@2x.jpg");
    }
  }

  .option__list {
    display: flex;
    width: 100%;
    padding: 0;
  }

  .option__list-item {
    width: 525px;
  }

  .option__list-link {
    justify-content: space-around;
    width: 100%;
    padding-left: 0;

    p {
      margin-right: 225px;
    }
  }
}
