.production {
  margin-bottom: 50px;
}

.production__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 33px;
  border: 1px solid #ececec;
}

.production__container-title {
  display: flex;
  justify-content: space-around;
  margin-bottom: 26px;
}

.production__title-icon {
  fill: $color-lightblue;
}

.production__title {
  width: 130px;

  @include font(17px, 24px);
}

.production__image-wrapper {
  position: relative;

  padding-bottom: 15px;
}

.production__image-play {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.production__text {
  width: 185px;
  margin:0 auto;
  padding-bottom: 30px;

  @include font(13px, 24px);
}

.production__button-buy {
  width: 192px;
}
