.production {
  margin-bottom: 58px;
}

.production__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 33px;
  border: 1px solid #ececec;
}

.production__container-title {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  padding-left: 33px;
}

.production__title-icon {
  fill: $color-lightblue;
}

.production__title {
  width: 130px;
  margin-left: 25px;

  @include font(17px, 24px);
}

.production__image-wrapper {
  position: relative;

  margin-bottom: 23px;
}

.production__image-play {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.production__text {
  width: 189px;
  margin: 0 auto;
  margin-bottom: 25px;

  @include font(13px, 24px);
}

.production__button-buy {
  width: 192px;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 63px;
  }

  .production__wrapper {
    width: 768px;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    padding-bottom: 45px;
  }

  .production__image-wrapper {
    margin-bottom: 30px;
    order: -1;
  }

  .production__container-title {
    align-items: center;
    justify-content: flex-start;
    padding-left: 43px;
  }

  .production__title {
    @include font(20px, 24px);
    width: auto;
    margin-left: 33px;
  }

  .production__image {
    width: 100%;
    height: 455px;
  }

  .production__text {
    @include font(15px, 30px);
    width: 585px;
    margin-bottom: 35px;
  }

  .production__button-buy {
    width: 585px;
    border: 2px solid #444444;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 110px;
  }

  .production__wrapper {
    width: 1050px;
    min-height: 455px;
    padding: 0;
    padding-right: 57px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .production__container-title {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 75px;
    width: 300px;
    margin: 0;
    padding-top: 30px;
    padding-left: 68px;
  }

  .production__title {
    width: 150px;
    margin: 0;
  }

  .production__image-wrapper {
    width: 682px;
    height: 100px;
    padding: 0;
    margin: 0;
    margin-right: auto;
  }

  .production__image-play {
    top: 225%;
  }

  .production__container-text {
    min-height: 242px;
    margin-left: auto;
    padding-top: 20px;
  }

  .production__text {
    width: 230px;
    margin-bottom: 45px;
  }

  .production__button-buy {
    width: 230px;
  }
}
