.top-title {
  margin: 0;
  margin-bottom: 25px;
  min-width: 320px;
  min-height: 177px;

  @include font(18px, 170px);
  font-family: $font-title;
  color: $color-title;
  text-align: center;

  background-color: #f2f2f2;

  &--catalog {
    margin-bottom: 28px;
  }

  &--order {
    margin-bottom: 22px;
  }
}

.top-title__catalog,
.top-title__order {
  margin-top: 0;
}

.top-title__zig-zag {
  display: none;
}

@media (min-width: $tablet-width) {
  .top-title__catalog,
  .top-title__order {
    @include font(43px, 58px);
  }

  .top-title {
    min-height: 214px;
    margin-top: -112px;
    margin-bottom: 83px;
    padding-top: 92px;
    background-color: transparent;

    &--catalog {
      margin-bottom: 70px;
      background: linear-gradient(#f2f2f2 0, #f2f2f2 226px, transparent 226px);
    }

    &--order {
      margin-bottom: 64px;
      background: linear-gradient(#f2f2f2 0, #f2f2f2 226px, transparent 226px);
    }
  }

  .top-title__catalog {
    margin-bottom: 61px;
  }

  .top-title__order {
    margin-bottom: 61px;
  }

  .top-title__zig-zag {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .top-title__catalog,
  .top-title__order {
    @include font(53px, 57px);
  }

  .top-title {
    min-height: 252px;
    margin-bottom: 131px;

    &--catalog {
      margin-bottom: 124px;
      background: linear-gradient(#f2f2f2 0, #f2f2f2 255px, transparent 255px);
    }

    &--order {
      margin-bottom: 117px;
      background: linear-gradient(#f2f2f2 0, #f2f2f2 252px, transparent 252px);
    }
  }

  .top-title__catalog {
    margin-bottom: 87px;
  }

  .top-title__order {
    margin-bottom: 87px;
  }
}
