.top-title {
  margin: 0;
  margin-bottom: 25px;
  min-width: 320px;
  min-height: 177px;

  @include font(18px, 177px);
  font-family: $font-title;
  color: $color-title;
  text-align: center;

  background-color: hsl(0, 0, 95%);
}

.top-title__catalog,
.top-title__order {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .top-title__catalog,
  .top-title__order {
    @include font(43px, 58px);
  }

  .top-title {
    min-height: 170px;
  }
}

@media (min-width: $desktop-width) {
  .top-title__catalog,
  .top-title__order {
    @include font(53px, 57px);
    padding-top: 50px;
  }
}
