.week-product {
  margin-bottom: 69px;
}

.week-product__wrapper {
  width: 264px;
  margin: 0 auto;
}

.week-product__title {
  margin-bottom: 5px;
}

.week-product__subtitle {
  @include font(18px, 19px);
  color: $color-lightblue;
  text-transform: uppercase;
}

.week-product__description {
  padding-top: 23px;
  padding-bottom: 11px;
  letter-spacing: 0.01em;
}

.week-product__features {
  margin-bottom: 25px;

  border-spacing: 0 13px;
}

.week-product__image {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.week-product__price {
  @include font(18px, 19px);
  display: block;
  margin-bottom: 26px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .week-product {
    margin-bottom: 123px;
  }

  .week-product__wrapper {
    width: auto;
    padding: 0 50px;
  }

  .week-product__container-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 53px;
  }

  .week-product__container-description {
    display: flex;
    flex-wrap: wrap;
  }

  .week-product__container-text {
    width: 285px;
    margin-bottom: 52px;
  }

  .week-product__title {
    margin-bottom: 0;
    margin-right: 140px;

    @include font(43px, 42px);
  }

  .week-product__subtitle {
    width: 77px;

    @include font(17px, 19px);
    text-align: center;
  }

  .week-product__description {
    padding: 0;
    padding-bottom: 30px;

    @include font(17px, 30px);
  }

  .week-product__features {
    margin-bottom: 0;
  }

  .week-product__image {
    height: 100px;
  }

  .week-product__buy {
    width: 290px;
  }

  .week-product__price {
    margin-bottom: 33px;

    @include font(20px, 24px);
    color: #444444;
  }

  .week-product__button-buy {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .week-product {
    margin-bottom: 157px;
  }

  .week-product__wrapper {
    width: 1000px;
    padding: 0;
  }

  .week-product__container-title {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 19px;
    margin-bottom: 47px;
  }

  .week-product__container-description {
    padding-left: 150px;
  }

  .week-product__title {
    @include font(53px, 57px);
    margin-left: 48px;
  }

  .week-product__description {
    padding-bottom: 43px;
  }

  .week-product__container-text {
    margin-bottom: 106px;
  }

  .week-product__image {
    width: 300px;
    height: 100px;
    margin-top: -70px;
    margin-left: 140px;
    z-index: -2;
  }
}
