.week-product__subtitle {
  color: $color-lightblue;

  text-transform: uppercase;
}

.week-product__description {
  padding-top: 20px;
  padding-bottom: 15px;
}

.week-product__features {
  padding-bottom: 20px;
}

.week-product__price {
  display: block;
  padding: 20px 0;

  text-align: center;
}
