.week-product {
  margin-bottom: 73px;
}

.week-product__wrapper {
  width: 264px;
  margin: 0 auto;
}

.week-product__title {
  margin-bottom: 5px;
}

.week-product__subtitle {
  color: $color-lightblue;
  text-transform: uppercase;
}

.week-product__description {
  padding-top: 30px;
  padding-bottom: 25px;
}

.week-product__features {
  margin-bottom: 28px;

  border-spacing: 20px 0;
}

.week-product__price {
  display: block;
  padding: 20px 0;

  text-align: center;
}
