.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
}

.catalog__list {
  @include list-reset();
}

.catalog__item {
  margin-bottom: 31px;
  padding-bottom: 26px;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__container-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 149px;
  padding-left: 27px;

  &--basket {
    min-height: 173px;
  }
}

.catalog__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 82px;
  padding-top: 25px;

  &--basket {
    min-height: 109px;
    padding-top: 24px;
  }
}

.catalog__item-title {
  width: 200px;
  margin: 0;

  @include font(17px, 24px);
  letter-spacing: 0.06em;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__item-text {
  @include font(13px, 30px);
}

.catalog__price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 205px;
}

.catalog__item-price {
  margin: 0;

  @include font(15px, 24px);
  font-family: $font-title;
  color: $color-title;

  position: relative;
}

.catalog__item-image {
  background-color: #f1f1f1;
}

.catalog__icon-price {
  color: rgba(0, 0, 0, 0.2);

  &:hover {
    color: #63d1bb;
  }

  &:active {
    color: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: 768px;
    padding: 0 50px;
  }

  .catalog__item {
    display: flex;
    min-height: 334px;
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .catalog__item-title {
    width: 240px;

    @include font(20px, 24px);
  }

  .catalog__item-image {
    width: 334px;
    height: 100%;
  }

  .catalog__description-wrapper {
    min-height: 87px;

    &--basket {
      min-height: 107px;
      padding-top: 25px;
    }
  }

  .catalog__item-text {
    @include font(15px, 30px);
  }

  .catalog__price-wrapper {
    width: 276px;
  }

  .catalog__item-price {
    padding-bottom: 32px;
    padding-left: 5px;

    @include font(17px, 24px);
  }

  .catalog__container-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    width: 1150px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__container-description {
    min-height: 199px;
    padding: 0;
    padding-left: 25px;
  }

  .catalog__description-wrapper {
    min-height: 84px;

    &--basket {
      min-height: 81px;
      padding-top: 0;
      margin-top: 23px;
    }
  }

  .catalog__item-title {
    width: 232px;
  }

  .catalog__item-image {
    width: 100%;
    height: 460px;
  }

  .catalog__price-wrapper {
    width: 258px;
  }

  .catalog__item-price {
    padding-left: 0;
  }

  .catalog__item {
    flex-direction: column;
    min-height: 660px;
    min-width: 316px;
  }
}
