.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
}

.catalog__list {
  @include list-reset();
}

.catalog__item {
  margin-bottom: 30px;
  border: 1px solid #ececec;
}

.catalog__container-description {
  padding-left: 28px;
}

.catalog__item-title {
  margin: 0;
  padding-top: 20px;

  @include font(17px, 24px);
}

.catalog__item-price {
  @include font(15px, 24px);
  font-family: $font-title;
  color: $color-title;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 20px;

    width: 20px;
    height: 20px;

    @include background("../../img/icon-cart.svg");
  }
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: auto;
  }

  .catalog__item {
    display: flex;
    min-height: 334px;
  }

  .catalog__container-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
