.footer-page {
  min-height: 150px;
  background-color: hsl(0, 0, 95%);
}

.footer-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85px;
  padding-top: 27px;
}

.footer-page__logo {
  display: none;
}

.footer-page__logo-icon {
  &:hover,
  &:focus {
    fill: rgba(70, 193, 174, 1);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}


@media (min-width: $tablet-width) {
  .footer-page__wrapper {
    flex-direction: row;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    padding-top: 54px;
    padding-left: 51px;
  }

  .footer-page__logo {
    display: block;
    width: 180px;
    margin-right: 60px;
  }

  .footer-page__social-list {
    align-items: center;
    width: 180px;
  }

  .footer-page__developed {
    align-items: center;
    width: 180px;
  }
}

@media (min-width: $desktop-width) {
  .footer-page__wrapper {
    justify-content: space-between;
    width: 1050px;
    padding: 0;
    padding-top: 50px;
  }

  .footer-page__logo {
    margin: 0;
  }
}
