.footer-page {
  min-height: 150px;
  background-color: hsl(0, 0, 95%);
}

.footer-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85px;
  padding-top: 25px;
}

.footer-page__logo {
  display: none;
}


@media (min-width: $tablet-width) {
  .footer-page__wrapper {
    flex-direction: row;
    align-items: center;
    padding-top: 70px;
    padding-left: 54px;
  }

  .footer-page__logo {
    display: block;
    width: 180px;
    margin-right: 60px;
  }

  .footer-page__social-list {
    align-items: center;
    width: 180px;
  }

  .footer-page__developed {
    align-items: center;
    width: 180px;
  }
}

@media (min-width: $desktop-width) {
  .footer-page__wrapper {
    justify-content: space-between;
    align-items: flex-end;
    width: 1250px;
    padding: 0 100px;
  }

  .footer-page__logo {
    margin: 0;
  }
}
