.footer-page {
  min-height: 150px;
  background-color: hsl(0, 0, 95%);
}

.footer-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85px;
}

.footer-page__logo {
  display: none;
}


@media (min-width: $tablet-width) {
  .footer-page__wrapper {
    flex-direction: row;
    padding-top: 60px;
  }

  .footer-page__logo {
    display: block;
    width: 180px;
  }

  .footer-page__social-list {
    align-items: center;
    width: 180px;
  }

  .footer-page__developed {
    align-items: center;
    width: 180px;
  }
}
