.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 0;
}

.main-nav__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__item {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30%;

  text-align: left;

  border-top: 1px solid black;
}

.main-nav__link {
  @include font (17px, 24px);
  font-family: $font-title;
  color: $color-title;

  position: relative;

  &--search::before {
    content: "";

    position: absolute;
    top: 5px;
    right: 145px;

    width: 18px;
    height: 18px;

    @include background ("../../img/icon-search.svg");
  }

  &--basket::before {
    content: "";

    position: absolute;
    top: 5px;
    right: 190px;

    width: 21px;
    height: 18px;

    @include background ("../../img/icon-cart.svg");
  }
}
