.main-nav__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main-nav__toggle {
  position: absolute;
  top: 26px;
  right: 26px;

  background-color: transparent;
  border: none;

  &--close {
    display: none;
  }

  &--nojs {
    display: none;
  }
}

.main-nav__icon {
  display: none;
}

.main-nav__toggle-show {
  display: block;
}

.main-nav__toggle-none {
  display: none;
}

.main-nav__list {
  @include list-reset();

  display: none;
  flex-direction: column;
  align-items: center;

  &--update {
    display: none;
  }
}

.main-nav--nojs {
  display: flex;
}

.menu-show {
  display: flex;
}

.main-nav__list-close {
  display: none;
}

.main-nav__list-wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  width: 100%;
  padding-top: 47px;
  padding-bottom: 8px;
  padding-left: 75px;

  text-align: left;

  border-bottom: 1px solid #ececec;
}

.main-nav__note-text {
  display: none;
}

.main-nav__link {
  @include font (17px, 24px);
  font-family: $font-title;
  color: $color-title;

  position: relative;

  &--search::before {
    content: "";

    position: absolute;
    top: 3px;
    right: 152px;

    width: 20px;
    height: 20px;

    @include background("../img/icon-search.svg");

    opacity: 0.2;
  }

  &--basket::before {
    content: "";

    position: absolute;
    top: 3px;
    right: 200px;

    width: 20px;
    height: 20px;

    @include background("../img/icon-cart.svg");

    opacity: 0.2;
  }
}

.main-nav__search-text {

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 180px;
    width: 768px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__icon {
    display: inline;
    color: rgba(0, 0, 0, 0.2);
  }

  .main-nav__link {
    @include font(15px, 24px);

    &--search {
      display: block;
      text-align: center;
      outline: none;

      &::before {
        display: none;
      }

      &:hover svg,
      &:focus svg {
        color: rgba(99, 209, 187, 1);
      }

      &:active svg {
        color: rgba(99, 209, 187, 0.3);
      }
    }

    &--basket {
      display: flex;
      justify-content: space-between;

      @include font(17px, 24px);

      &::before {
        display: none;
      }

      &:hover svg {
        color: #63d1bb;
      }
    }
  }

  .main-nav__item {
    width: auto;
    min-height: 88px;
    padding: 0;
    padding-top: 32px;
    border-bottom: none;

    &--navigation {
      padding-top: 14px;
    }

    &--basket {
      width: 284px;
      padding-right: 52px;
    }
  }

  .main-nav__list-wrapper {
    justify-content: space-between;
  }

  .main-nav__item-search {
    min-width: 84px;
    padding-top: 36px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .main-nav__note-text {
    display: block;
    margin-left: 118px;
    padding-top: 15px;
    border: none;

    @include font(15px, 24px);
  }

  .main-nav__search-text {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &--user {
      justify-content: space-between;
      width: 400px;

      &:first-child {
        min-width: 80px;
      }
    }

    &--navigation {
      width: 370px;
      padding-left: 33px;
    }

    &--update {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1150px;
    padding: 0 50px;
  }

  .main-nav__list-wrapper {
    width: 650px;
    flex-direction: row-reverse;
  }

  .main-nav__list {
    &--navigation {
      align-items: flex-start;
      justify-content: space-between;
      width: 375px;
      padding: 0;
    }

    &--update {
      @include font(15px, 24px);
      font-family: $font-title;
      display: flex;
      justify-content: space-between;
      width: 379px;

      a {
        color: $color-title;
      }
    }

    &--user {
      width: 352px;
    }
  }

  .main-nav__list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav__item {
    &--navigation {
      width: 156px;
      padding-top: 32px;
    }

    &--update {
      width: 158px;
      padding-top: 18px;
    }

    &--basket {
      width: 234px;
      padding-right: 3px;
    }
  }

  .main-nav__link {
    @include font(17px, 24px);

    &--basket::before {
      right: 210px;
    }
  }
}
