.order__wrapper {
  width: 262px;
  margin: 0 auto;
}

.order__text {
  width: 242px;
  margin: 0 auto;
  margin-bottom: 30px;

  @include font(13px, 24px);
}

.order__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 1435px;
}

.order__form-field {
  position: relative;

  border: none;
}

.order__form-list {
  @include list-reset();
}

.order__form-list-item {
  @include font(19px, 18px);
  font-family: $font-title;
}

.order__form-title {
  position: relative;

  @include font(17px, 16px);
  font-family: $font-title;
  color: $color-lightblue;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 62px;
    width: 198px;
    height: 0;
    border: 1px solid $color-lightblue;
  }
}

.order__form-label {
  display: block;
}

.order__form-input {
  &--tel::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 25px;
    height: 25px;

    @include background("../../img/icon-phone.svg");
  }
}

.order__explanation {
  @include font(14px, 16px);
  margin-top: -100px;
}

.order__button {
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .order__text {
    @include font(17px, 30px);
    width: 615px;
    margin-bottom: 60px;
  }

  .order__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 65px;
  }

  .order__color {
    background-color: #f1f1f1;
  }

  .order__form-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 501px;
    margin-left: 218px;
  }

  .order__form-list-item {
    display: flex;
  }

  .order__form-input {
    &--tel,
    &--mail,
    &--text {
      margin-left: 217px;
    }
  }

  .order__form-title {
    margin-bottom: -24px;

    &::after {
      content: none;
    }
  }

  .order__explanation {
    margin: 0;
  }

  .order__form-container-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    width: 1150px;
    padding: 0 114px;
  }

  .order__text {
    width: 672px;
  }
}
