.order {
  margin-bottom: 56px;
}

.order__wrapper {
  width: 266px;
  margin: 0 auto;
}

.order__text {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 24px;

  @include font(13px, 24px);
}

.order__form-field {
  position: relative;

  padding: 0;
  border: none;

  &--type {
    margin-bottom: 31px;
  }

  &--color {
    margin-bottom: 43px;
  }

  &--initials {
    margin-bottom: 33px;
  }

  &--tel {
    min-height: 74px;
    margin-bottom: 33px;

    border-bottom: 2px solid #444444;
  }

  &--email {
    min-height: 74px;
    margin-bottom: 33px;

    border-bottom: 2px solid #444444;
  }

  &--text {
    min-height: 298px;
  }
}

.order__form-list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  min-height: 125px;
  justify-content: space-around;

  &--type {
    min-height: 115px;
    padding-top: 10px;
    padding-left: 65px;
  }

  &--color {
    justify-content: space-between;
    min-height: 348px;
    padding-top: 25px;
    padding-left: 65px;
  }

  &--initials {
    justify-content: space-between;
    min-height: 272px;
    padding-top: 19px;
  }
}

.order__form-list-item {
  @include font(17px, 18px);
  font-family: $font-title;

  &--initials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70px;

    border-bottom: 2px solid #444444;
  }
}

.order__form-title {
  position: relative;

  margin-bottom: 10px;

  @include font(17px, 16px);
  font-family: $font-title;
  color: $color-lightblue;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 62px;
    width: 198px;
    height: 0;
    border: 1px solid $color-lightblue;
  }
}

.order__form-label {
  display: block;
}

.order__form-input {
  @include font(17px, 18px);
  font-family: $font-text;
  color: rgba(68, 68, 68, 0.3);

  border: none;

  &--initials {
    min-height: 45px;
  }

  &--tel {
    min-height: 38px;
  }

  &--mail {
    min-height: 40px;
  }

  &--text {
    margin-top: 10px;
    border: 2px solid #444444;
    resize: none;
  }
}

.order__explanation {
  @include font(14px, 16px);
  margin-top: -100px;
  margin-bottom: 29px;
}

.order__button {
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .order__text {
    @include font(17px, 30px);
    width: 615px;
    margin-bottom: 60px;
  }

  .order__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 65px;
  }

  .order__color {
    background-color: #f1f1f1;
  }

  .order__form-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 501px;
    margin-left: 218px;
  }

  .order__form-list-item {
    display: flex;
  }

  .order__form-input {
    &--tel,
    &--mail,
    &--text {
      margin-left: 217px;
    }
  }

  .order__form-title {
    margin-bottom: -24px;

    &::after {
      content: none;
    }
  }

  .order__explanation {
    margin: 0;
  }

  .order__form-container-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    width: 1150px;
    padding: 0 114px;
  }

  .order__text {
    width: 672px;
  }
}
