.order__text {
  @include font(13px, 24px);
}

.order__form {
  position: relative;

  border: none;
}

.order__form-list-item {
  list-style: none;
}

.order__form-title {
  @include font(17px, 16px);
  font-family: $font-title;
  color: $color-lightblue;
  text-transform: uppercase;
}

.order__form-label {
  display: block;
}

.order__form-input {

  &--tel::after {
    content: "asfsdgfg";

    position: absolute;
    top: 0;
    right: 0;

    width: 25px;
    height: 25px;

    @include background('../../img/icon-phone.svg');
  }
}
