.body-page {
  font-family: $font-text;
}

.text {
  font-family: $font-text;
  color: $color-text;

  @include font(15px, 24px);
}

.title {
  font-family: $font-title;
  font-weight: bold;
  color: $color-title;

  @include font(25px, 30px);
}
