$tablet-width: 768px;
$desktop-width: 1200px;


$font-text: "Open-sans", "Arial", sans-serif;
$font-title: "Open-sans bold", "Arial", sans-serif;


$color-text: hsl(0, 0, 27%);
$color-title: hsl(0, 0, 0);


$color-lightblue: hsl(168, 54, 60);
$color-white: hsl(0, 0, 100);
