//
@import "abstracts/variables",
  "abstracts/mixins";
//
@import "base/normalize.scss",
  "base/base.scss",
  "base/typography.scss",
  "base/fonts.scss";
//
@import "common/link.scss",
  "common/body-page.scss";
//
@import "components/buttons.scss";
//
@import "layout/header.scss",
  "layout/main-nav.scss",
  "layout/catalog.scss",
  "layout/footer-page.scss",
  "layout/order.scss";
//
@import "blocks/logo.scss",
  "blocks/option.scss",
  "blocks/week-product.scss",
  "blocks/advantages.scss",
  "blocks/review.scss",
  "blocks/social.scss",
  "blocks/developed.scss",
  "blocks/top-title.scss",
  "blocks/production.scss",
  "blocks/contacts.scss",
  "blocks/modal.scss";
