.button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 52px;
  border: 1px solid $color-text;

  @include font (17px, 40px);
  font-family: $font-title;
  color: $color-text;
  text-align: center;
  text-transform: uppercase;
}
