.button {
  display: block;
  margin: auto;
  width: 260px;
  border: 1px solid $color-text;

  font-family: $font-title;
  @include font (17px, 40px);
  color: $color-text;

  text-align: center;

  text-transform: uppercase;
}
